// FONTS
$font-main: 'Raleway', sans-serif;
$font-accent: 'Kaushan Script', sans-serif;
$font-header: 'Montserrat', sans-serif;

// COLORS
$dark: #2D3033;
$main: #95E1D3;
$accent: #F38281;
$hover: #F4BF87;
$light:#F9EFCF;
$black: #000;
$white: #fff;
$gray: #A9AFB1;
$lightgray: #C6CBCD;