.about {
    &__top {
        margin-bottom: 90px;

        @include _1024 {
            margin-bottom: 70px;
        }

        @include _768 {
            margin-bottom: 50px;
        }

        @include _380 {
            margin-bottom: 30px;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        @include _1024 {
            gap: 20px;
        }

        @include _700 {
            grid-template-columns: minmax(200px, 370px);
            justify-content: center;
        }
    }

    &__item {
        background-color: $main;
    }

    &__img {
        position: relative;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        @media (min-width: 701px){
            &:hover {
                &::before,
                &::after {
                    @include pseudo-element($display: flex);
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    align-items: center;
                    justify-content: center;
                }

                &::before {
                    content: "Super team";
                    top: 25%;
                    z-index: 5;
                    font-size: 24px;
                    font-weight: 500;
                    color: $white;
                    text-transform: uppercase;
                    @include background('../img/icons/about-icon.svg', $pos: 50% 20%, $size:12%);

                    @include _1024 {
                        font-size: 18px;
                    }
                }

                &::after {
                    background: linear-gradient(
                        360deg,
                        rgba(237, 215, 137, 0.9) 0%,
                        rgba(233, 130, 131, 0.9) 100%
                    );
                }

                transform: translate(-4%, -4%);
            }
        }

        @include _700 {
            &::before,
            &::after {
                @include pseudo-element($display: flex);
                left: 0;
                right: 0;
                bottom: 0;
                align-items: center;
                justify-content: center;
                height: 83px;
            }

            &::before {
                content: "Super team";
                z-index: 5;
                font-size: 18px;
                font-weight: 500;
                color: $white;
                text-transform: uppercase;
                @include background('../img/icons/about-icon.svg', $pos: 10% 50%, $size:11%);
            }

            &::after {
                background: linear-gradient(
                    360deg,
                    rgba(237, 215, 137, 0.9) 0%,
                    rgba(233, 130, 131, 0.9) 100%
                );
            }

        }



    }
}
