.about {

    &__top {
        margin-bottom: 90px;
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    }

    &__item {
        background-color: $main;
    }

    &__img {
        position: relative;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        img {
            display: block;
        }

        &:hover {
            transform: translate(-5%, -5%);

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                clear: both;
            }

            &::before {
                content: "Super team";
                top: 25%;
                z-index: 5;
                background-image: url('../img/icons/about-icon.svg');
                background-size: 12%;
                background-repeat: no-repeat;
                background-position: 50% 20%;
                font-size: 24px;
                font-weight: 500;
                color: $white;
                text-transform: uppercase;
            }
            &::after {
                background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
            }
        }
    }
}


