.clients {
    position: relative;
    z-index: 0;
    @include background('../img/clients/clients-bg.jpg', $size: cover);

    &::before {
        @include pseudo-element();
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: rgba(255, 255, 255, 0.9);
    }

    &__top {
        margin-bottom: 100px;

        @include _768 {
            margin-bottom: 80px;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 50px;

        @include _768 {
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }

    &__item {
        display: flex;
        gap: 50px;

        @include _1024 {
            gap: 40px;
        }

        @include _768 {
            gap: 25px;
        }

        @include _430 {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__item-img {
        width: 130px;
        height: 130px;
        padding-top: 10px;
        border-radius: 50%;

        @include _1024 {
            width: 100px;
            height: 100px;
        }

        @include _430 {
            height: auto;
        }
    }

    &__item-name {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        
        @include _1024 {
            font-size: 18px;
            margin-bottom: 12px;
        }
    }

    &__item-job {
        text-transform: uppercase;
        margin-bottom: 55px;

        @include _1024 {
            margin-bottom: 40px;
        }
    }

    &__item-comment {
        position: relative;

        &::before {
            @include pseudo-element();
            left: 0;
            top: -25px;
            width: 70px;
            height: 4px;
            background-color: $accent;

            @include _430 {
                width: 134px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
