.clients {
    background: linear-gradient(
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)
        ),
        url(../img/clients/clients-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include _768 {
        padding-bottom: 40px;
    }

    &__top {
        margin-bottom: 100px;

        @include _430 {
            margin-bottom: 80px;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 40px 50px;

        @include _768 {
            grid-template-columns: minmax(300px, 600px);
            justify-content: center;
            gap: 30px;
        }
    }

    &__item {
        display: flex;
        gap: 50px;

        @include _1024 {
            gap: 40px;
        }

        @include _768 {
            gap: 25px;
        }

        @include _550 {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__item-img {
        width: 130px;
        height: 130px;
        padding-top: 10px;
        border-radius: 50%;

        @include _1024 {
            width: 100px;
            height: 100px;
        }

        @include _550 {
            height: auto;
        }
    }

    &__item-name {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;

        @include _1024 {
            font-size: 18px;
            margin-bottom: 12px;
        }
    }

    &__item-job {
        text-transform: uppercase;
        margin-bottom: 55px;

        @include _1024 {
            margin-bottom: 40px;
        }
    }

    &__item-comment {
        position: relative;

        &::before {
            @include pseudo-element();
            left: 0;
            top: -25px;
            width: 70px;
            height: 4px;
            background-color: $accent;

            @include _550 {
                width: 134px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
