.devices { 
    position: relative;
    height: 868px;
    background-image: url('../img/devices/devices-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;

    
    &::before {
        position: absolute;
        content: "";
        clear: both;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: -1;
    }
    
    &__top {
        margin-bottom: 110px;
    }

    &__container {
        position: relative;
        max-width: 685px;
        margin: 0 auto;
    }

    &__phone {
        position: absolute;
        right: -7%;
        top: 33%;
        width: 30%;
    }
}
