.footer {
    padding-top: 75px;

    &__top {
        display: grid;
        grid-template-columns: 1fr 1fr 270px;
        gap: 30px;
        margin-bottom: 40px;
    }

    &__media {
        color: $lightgray;
    }

    &__logo {
        margin-bottom: 50px;
    }

    &__text {
        margin-bottom: 60px;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        
        &-input {
            padding: 20px 7px;
            width: 100%;
            border: 1px solid $lightgray;
            border-right: none;
            color: $dark;
            text-align: center;
            transition: border-color 0.3s ease-in-out;
            &:hover {
                border-color: $main;
            }
            &:focus {
                border-color: $main;
                box-shadow: 0 0 20px 1px $main;
                box-shadow: $main 0px 15px 40px -12px;
            }
        }

        &-btn {
            border: 1px solid $main;
            background-color: $main;
            font-weight: 700;
            color: $white;
            text-transform: uppercase;
            padding: 0 17px;
            transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
            &:hover {
                background-color: #87D2C4;
                border: 1px solid #87D2C4;
            }
            &:active {
                background-color: #5C958A;
                border: 1px solid #5C958A;
            }
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    &__bottom {
        border-top: 1px solid $lightgray;
    }

    &__copy{
        padding: 20px 0;
        text-align: center;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.socials {

    margin-bottom: 45px;

    &__info {
        border-bottom: 1px solid $lightgray;
        padding-bottom: 25px;
        margin-bottom: 10px;
        font-style: italic;
        color: $dark;
        text-transform: uppercase;
        
        span {
            font-size: 36px;
            font-weight: 700;
            font-style: normal;
            text-transform: lowercase;
        }
    }

    &__icons-list{
        display: flex;
        
        
        li:first-child {
            font-size: 13px;
            font-style: italic;
            margin-right: 50px;
        }
    }
    &__icons-item {
        color: $main;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
        margin-right: 12px;
        
        &:hover {
            color: $accent;
            transform: scale(1.2);
        }
    }
}

.instagram-photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;

    &__item {
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: scale(1.1);
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        }
    }

    &__link {
        position: relative;
        font-size: 13px;
        text-transform: uppercase;
        text-decoration: none;
        transition: text-decoration 0.3s ease-in-out;

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -20%;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 1px;
            background-color: $dark;
            transition: width 0.3s ease-in-out;
        }
        
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
}

.blogs {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__item {
        &:hover {
            .blogs__item-img {
                opacity: 1;
            }
        }
    }

    &__item-img {
        opacity: 0.7;
        transition: opacity 0.3s ease-in-out;
    }

    &__item-link {
        display: flex;
        gap: 30px;
    }

    &__item-title {
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    &__item-date {
        font-size: 13px;
    }
}

