.footer {
    padding-top: 75px;

    @include _1024 {
        padding-top: 55px;
    }

    &__top {
        display: grid;
        grid-template-columns: 1fr 1fr minmax(270px, auto);
        gap: 30px;
        margin-bottom: 40px;

        @include _1024 {
            gap: 20px;
        }

        @include _980 {
            grid-template-columns: repeat(2, 1fr);
            gap: 35px;
        }

        @include _768 {
            grid-template-columns: minmax(290px, 670px);
            justify-content: center;
            gap: 40px;
        }
    }

    &__media {
        color: $lightgray;

        @include _980 {
            grid-column: 1/-1;
        }

        @include _980 {
            text-align: center;
        }
    }

    &__logo {
        margin-bottom: 50px;

        @include _980 {
            margin-bottom: 30px;

            svg {
                width: 95px;
            }
        }
    }

    &__text {
        margin-bottom: 60px;

        @include _980 {
            margin-bottom: 35px;
        }
    }

    &__form {
        display: flex;
        max-width: 100%;

        @include _980 {
            justify-content: center;
        }

        &-input {
            appearance: none;
            padding: 20px 7px;
            border: 1px solid $lightgray;
            border-right: none;
            color: $dark;
            text-align: center;
            transition: border-color 0.3s ease-in-out;

            &::placeholder {
                color: $lightgray;
            }

            &:hover {
                border-color: $main;
            }

            &:focus-visible {
                border-color: $main;
                box-shadow: 0 0 20px 1px $main;
                box-shadow: $main 0px 15px 40px -12px;
            }

            @include _1024 {
                padding: 15px 7px;
            }

            @include _980 {
                width: 250px;
            }

            @include _550 {
                width: 100%;
            }
        }

        &-btn {
            border: 1px solid $main;
            background-color: $main;
            font-weight: 700;
            color: $white;
            text-transform: uppercase;
            padding: 0 17px;
            transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;

            &:hover {
                background-color: #87d2c4;
                border: 1px solid #87d2c4;
            }

            &:active {
                background-color: #5c958a;
                border: 1px solid #5c958a;
            }
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 35px;

        @include _1024 {
            font-size: 16px;
            margin-bottom: 25px;
        }

        @include _768 {
            margin-bottom: 20px;
        }

        @include _550 {
            text-align: center;
        }
    }

    &__bottom {
        border-top: 1px solid $lightgray;
    }

    &__instagram {
        @include _980 {
            justify-self: center;
        }

        @include _768 {
            justify-self: start;
        }

        @include _550 {
            text-align: center;
            justify-self: center;
        }
    }

    &__copy {
        padding: 20px 0;
        text-align: center;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;

        @include _550 {
            padding: 12px 0;
        }
    }
}

.socials {
    margin-bottom: 45px;

    @include _768 {
        text-align: center;
    }

    &__info {
        border-bottom: 1px solid $lightgray;
        padding-bottom: 25px;
        margin-bottom: 10px;
        font-style: italic;
        color: $dark;
        text-transform: uppercase;

        span {
            font-size: 36px;
            font-weight: 700;
            font-style: normal;
            text-transform: lowercase;

            @include _550 {
                font-size: 24px;
            }
        }

        @include _980 {
            padding-bottom: 15px;
        }
    }

    &__icons-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include _980 {
            justify-content: center;
            font-size: 28px;
            text-align: center;
            gap: 20px;
        }

        @include _650 {
            font-size: 25px;
            gap: 15px;
        }

        @include _550 {
            justify-content: center;
            font-size: 24px;
            text-align: center;
            gap: 10px;
        }

        @include _380 {
            font-size: 20px;
            gap: 5px;
        }

        li:first-child {
            font-size: 13px;
            font-style: italic;
            margin-right: 50px;

            @include _980 {
                font-size: 18px;
                margin: 0 auto 10px;
            }

            @include _550 {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }

    &__icons-item {
        color: $main;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
        margin-right: 12px;

        &:hover {
            color: $accent;
            transform: scale(1.2);
        }
    }
}

.blogs {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__item {
        &:hover {
            .blogs__item-img {
                opacity: 1;
            }
        }
    }

    &__item-img {
        opacity: 0.7;
        transition: opacity 0.3s ease-in-out;

        @include _550 {
            max-width: none;
            opacity: 1;
        }
    }

    &__item-link {
        display: flex;
        align-items: flex-start;
        gap: 30px;

        @include _1024 {
            gap: 20px;
        }
    }

    &__item-title {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase;

        @include _430 {
            font-size: 13px;
            margin-bottom: 5px;
        }
    }

    &__item-date {
        font-size: 13px;
    }
}

.instagram-photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;

    @include _1024 {
        margin-bottom: 30px;
    }

    &__item {
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: scale(1.1);
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        }
    }

    &__link {
        position: relative;
        font-size: 13px;
        text-transform: uppercase;
        text-decoration: none;
        transition: text-decoration 0.3s ease-in-out;

        &::after {
            @include pseudo-element();
            bottom: -20%;
            left: 50%;
            width: 0;
            height: 1px;
            background-color: $dark;
            transform: translateX(-50%);
            transition: width 0.3s ease-in-out;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
}
