.intro {
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%), url(../img/main/bg-intro.jpg);
    padding-top: 185px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $white;

    &__content {
        max-width: 830px;
        margin: 0 auto;
        margin-bottom: 100px;
        text-align: center;
    }

    &__subtitle {
        font-family: $font-accent;
        font-size: 64px;
        margin-bottom: 25px;
    }

    &__title {
        font-family: $font-header;
        font-size: 144px;
        font-weight: 700;
        margin-bottom: 70px;
        text-transform: uppercase;
        text-align: right;

        &:after {
            content: "";
            display: block;
            clear: both;
            width: 170px;
            height: 4px;
            background-color: $white;
            margin: 45px auto 0;
          }
    }

    &__link {
        display: inline-block;
        border: 4px solid $white;
        padding: 23px 104px;
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        &:hover {
            background-color: $white;
            color: #E4BE8D;
        }
        &:active {
            border: 4px solid #E4BE8D;
            background-color: $white;
            color: #E4BE8D;
        }
    }

    &__slider {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    &__slide {
        border-top: 4px solid $light;
        padding: 20px 0;
        font-size: 18px;
        color: $light;
        text-transform: uppercase;
    }

    &__slide--active {
        position: relative;
        border-top: 4px solid $white;
        color: $white;

        &::before {
            content: "";
            display: block;
            clear: both;
            position: absolute;
            top: -4px;
            left: 0;
            width: 25%;
            height: 4px;
            background-color: $accent;
        }
    }

    &__slide-number {
        font-weight: 700;
        font-size: 36px;
    }
}
