
.partners {

    background-color: #F8F8F8;

		&__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
		}

		&__item {
            width: 127px;
            height: 127px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60%;
            transition: transform 0.5s ease-in-out;

            &:hover {
                cursor: pointer;
                transform: scale(1.2) rotate(360deg);
            }
		}
}
.partner-1 {
    background-image: url('../img/partners/partner-1.svg');
}
.partner-2 {
    background-image: url('../img/partners/partner-2.svg');

}
.partner-3 {
    background-image: url('../img/partners/partner-3.svg');

}
.partner-4 {
    background-image: url('../img/partners/partner-4.svg');

}
.partner-5 {
    background-image: url('../img/partners/partner-5.svg');

}
.partner-6 {
    background-image: url('../img/partners/partner-6.svg');
}
