.reviews {
    padding: 115px 0;

    @include _1024 {
        padding: 85px 0;
    }

    @include _768 {
        padding: 60px 0;
    }

    @include _430 {
        padding: 40px 0;
    }

    &--bg {
        padding: 45px 0;
        background-color: #F8F8F8;

        @include _768 {
            padding: 30px 0;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 30px;

        @include _768 {
            flex-direction: column;
        }
    }

    &__icon {
        padding: 40px;
        border: 2px solid $main;

        @include _1024 {
            padding: 30px;
        }

        @include _768 {
            display: none;;
        }

        &::after {
            @include pseudo-element($pos: static);
            height: 75px;
            width: 75px;
            @include background('../img/icons/reveiw-icon.svg');

            @include _1024 {
                height: 50px;
                width: 50px;
            }
        }
    }

    &__photo {
        border-radius: 50%;

        @include _1024 {
            height: 115px;
            width: 115px;
        }
    }

    &__text {
        font-size: 24px;
        font-weight: 500;
        font-style: italic;
        color: $lightgray;
        margin-bottom: 25px;

        @include _1024 {
            font-size: 18px;
        }

        @include _430 {
            font-size: 14px;
        }
    }

    &__auther {
        position: relative;
        padding-left: 125px;
        font-family: $font-accent;
        font-size: 30px;

        @include _1024 {
            font-size: 24px;
            padding-left: 85px;
        }

        @include _430 {
            font-size: 18px;
        }

        &::before {
            @include pseudo-element();
            left: 0;
            bottom: 45%;
            width: 70px;
            height: 4px;
            background-color: $accent;

            @include _1024 {
                width: 47px;
            }
        }
    }
}
