.reviews {

    padding: 42px 0;
    margin-bottom: 84px;

    &--bg {
        background-color: #F8F8F8;
        margin-bottom: 0;
    }
    
    &__container {
        position: relative;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        column-gap: 30px;
        &::before,
        &::after {
            position: absolute;
            content: "";
            display: block;
            clear: both;
            width: 42px;
            height: 42px;
            background-image: url(../../img/icons/arrow.svg);
            background-position: center;
            background-repeat: no-repeat;
            transition: all 0.3s;
            top: 50%;
        }
        &::before {
            left: -95px;
            transform: translateY(-50%) rotate(90deg);
        }
        &::after {
            right: -95px;
            transform: translateY(-50%) rotate(270deg);
        }
    }

    &__img {
        padding: 33px;
        border: 2px solid $main;
    }

    &__photo {
        width: 430px; /*???????*/
        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }

    &__icon {
        height: 100px;
        width: 100px;
        background-image: url('../../img/icons/reveiw-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &__inner {
    }

    &__text {
        font-style: italic;
        font-weight: 500;
        font-size: 24px;
        color: $lightgray;
        margin-bottom: 25px;
    }

    &__auther {
        font-family: $font-accent;
        font-size: 30px;
    }
}
