.stories {
    &__top {
        margin-bottom: 80px;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        @include _1024 {
            gap: 15px;
        }

        @include _768 {
            gap: 40px;
        }

        @include _768 {
            grid-template-columns: 1fr;
            text-align: center;
        }
    }

    &__item {
        &:hover {
            .stories__card-img img {
                transform: scale(1.1);
            }
        }
    }

    &__card {
        position: relative;
        display: inline-block;
        margin-bottom: 30px;

        @include _1024 {
            margin-bottom: 20px;
        }
    }

    &__card-img {
        overflow: hidden;

        img {
            transition: transform 0.5s ease-in-out;
        }
    }

    &__card-date {
        position: absolute;
        left: -8px;
        top: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 22%;
        height: 32%;
        background-color: $main;
        padding: 5px;
        font-weight: 500;
        color: $white;
        text-transform: uppercase;
        line-height: 1.3;

        span {
            font-size: 36px;
            font-weight: 700;
            @include _1024 {
                font-size: 24px;
            }
            @include _768 {
                font-size: 18px;
            }
        }
    }
    
    &__item-title {
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 25px;
        @include _1024 {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

    &__item-desc {
        margin-bottom: 40px;
        @include _1024 {
            margin-bottom: 30px;
        }
    }

    &__item-views,
    &__item-comments {
        position: relative;
        padding: 0 50px;
        @include _1024 {
            padding: 0 40px;
        }
        @include _768 {
            padding: 0 35px;
        }

        &::before {
            content: "";
            display: block;
            clear: both;
            position: absolute;
            left: 0;
            top: -5px;
            width: 32px;
            height: 32px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            @include _768 {
                width: 26px;
                height: 26px;
            }
        }
    }

    &__item-views {
        &::before {
            background-image: url("../img/icons/views-icon.svg");
        }
    }

    &__item-comments {
        &::before {
            background-image: url("../img/icons/comments-icon.svg");
        }
    }
}
