.stories {

    &__top {
        margin-bottom: 80px;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    }

    &__item {
        &:hover {
            .stories__card-img img {
                transform: scale(1.1);
            }
        }
    }
    
    &__card {
        position: relative;
        margin-bottom: 30px;
    }

    &__card-img {
        overflow: hidden;
        img {
            transition: transform 0.5s ease-in-out;
        }
    }

    &__card-date {
        position: absolute;
        left: -5%;
        top: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 22%;
        height: 32%;
        background-color: $main;
        padding: 2.2% 3%;
        font-weight: 500;
        color: $white;
        text-transform: uppercase;
        
        span {
            font-size: 36px;
            font-weight: 700;
        }
    }
    &__item-title {
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &__item-desc {
        margin-bottom: 40px;
    }

    &__item-views,
    &__item-comments {
        position: relative;
        padding: 0 50px;

        &::before {
            content: "";
            display: block;
            clear: both;
            position: absolute;
            left: 0;
            top: -5px;
            width: 32px;
            height: 32px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
    &__item-views {
    
        &::before {
            background-image: url('../img/icons/views-icon.svg');
        }
    }

    &__item-comments {

        &::before {
            background-image: url('../img/icons/comments-icon.svg');
        }
    }
}
